body {
  font-size: 16px;
  color: #fff;
  background-color: #030025;
  font-family: "Oxygen", sans-serif;
}

#header-nav {
  margin-right: auto;
  margin-left: auto;
}

#navbar-title {
  color: #c29f05;
  font-family: "Orbitron", sans-serif;
  margin: 0px;
  margin-left: 1em;
  font-size: 20px;
}

#navbar-links {
  font-size: 1em;
  font-family: "Orbitron", sans-serif;
}
